<h2 mat-dialog-title class="title"
  >D2ArmorPicker Changelog for Version {{ changelog.changelogData[0].version }}</h2
>
<mat-dialog-content class="mat-typography">
  <div>
    Hi! There has been a new version of D2ArmorPicker! The following list shows all the relevant
    changes. Note that you can always look at the changelogs in the Help tab.
  </div>

  <app-changelog-list></app-changelog-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button [mat-dialog-close]="true" cdkFocusInitial color="primary" mat-raised-button
    >Thanks, I saw it!</button
  >
</mat-dialog-actions>
