<mat-card class="info" *ngIf="updatingManifest">Updating the manifest. Please wait. <br/>If this takes too long, please logout and login again.</mat-card>
<mat-card class="info" *ngIf="updatingArmor">Updating the character armor. Please wait.</mat-card>
<mat-card class="info" *ngIf="updatingPermutations">Updating armor permutations. Please wait.</mat-card>
<mat-card class="info" *ngIf="updatingTable">Updating result table. Please wait.</mat-card>

<mat-progress-bar mode="indeterminate" id="loading"
                  *ngIf="updatingPermutations || updatingTable || updatingArmor || updatingManifest"
></mat-progress-bar>

<mat-toolbar id="header" role="heading">
  <span>D2ArmorPicker <small> by Mijago</small></span>
  <span class="header-spacer"></span>
  <div id="buttonContainer">
    <button mat-stroked-button matTooltip="You like my work? This leads you to buymeacoffee.com, where you can easily support me!"
      color="accent" (click)="goToBuymeacoffee()">
      <mat-icon inline>attach_money</mat-icon>
      Buy me a coffee!
    </button>

    <button mat-icon-button class="example-icon" aria-label="Refresh" (click)="refreshAll(true)"
      matTooltip="Reload all items from the API.">
      <mat-icon>refresh</mat-icon>
    </button>

    <button mat-icon-button color="warn" class="example-icon" aria-label="Logout" (click)="logout()"
            matTooltip="Logout">
      <mat-icon>logout</mat-icon>
    </button>

  </div>
</mat-toolbar>


<mat-card id="card-config">
  <mat-card-title> Configuration</mat-card-title>
  <mat-card-content>

    <span>Please note: The results are either on the right or below the configuration.</span>

<h2>Select the class of your guardian.</h2>
<mat-form-field appearance="fill">
  <mat-label>Class</mat-label>
  <mat-select [(value)]="selectedClass" (selectionChange)="onClassChange()">

    <mat-option *ngFor="let character of characters" [value]="character.clazz">
      <span *ngIf="character.clazz == 0">Titan</span>
      <span *ngIf="character.clazz == 1">Hunter</span>
      <span *ngIf="character.clazz == 2">Warlock</span>
    </mat-option>
  </mat-select>
</mat-form-field>

<br/>
<h2>1. Select the values your gear should have.
  <mat-icon inline aria-hidden="false" aria-label="Help" id="help-select-stats"
            matTooltip='Use the buttons to define the stats you want. Colored values are selected, gray means they are selectable and hollow values are not achievable with your gear.'
            #tooltip="matTooltip"> help
  </mat-icon>
</h2>
<table>
  <tr>
    <td>Mobility</td>
    <td>
      <app-stat-minimum-selection
        [value]="minMobility"
        [tooltips]="tooltipMobilitySelector"
        [maxPossibleValue]="maximumPossibleStats.mobility"
        (onChange)="minMobility = $event.valueOf(); onMinStatValueChange()"></app-stat-minimum-selection>
    </td>
  </tr>
  <tr>
    <td>Resilience</td>
    <td>
      <app-stat-minimum-selection
        [value]="minResilience"
        [tooltips]="tooltipResilienceSelector"
        [maxPossibleValue]="maximumPossibleStats.resilience"
        (onChange)="minResilience = $event.valueOf(); onMinStatValueChange()"></app-stat-minimum-selection>
    </td>
  </tr>
  <tr>
    <td>Recovery</td>
    <td>
      <app-stat-minimum-selection
        [value]="minRecovery"
        [tooltips]="tooltipRecoverySelector"
        [maxPossibleValue]="maximumPossibleStats.recovery"
        (onChange)="minRecovery = $event.valueOf(); onMinStatValueChange()"></app-stat-minimum-selection>
    </td>
  </tr>
  <tr>
    <td>Discipline</td>
    <td>
      <app-stat-minimum-selection
        [value]="minDiscipline"
        [tooltips]="tooltipDisciplineSelector"
        [maxPossibleValue]="maximumPossibleStats.discipline"
        (onChange)="minDiscipline = $event.valueOf(); onMinStatValueChange()"></app-stat-minimum-selection>
    </td>
  </tr>
  <tr>
    <td>Intellect</td>
    <td>
      <app-stat-minimum-selection
        [value]="minIntellect"
        [tooltips]="tooltipIntellectSelector"
        [maxPossibleValue]="maximumPossibleStats.intellect"
        (onChange)="minIntellect = $event.valueOf(); onMinStatValueChange()"></app-stat-minimum-selection>
    </td>
  </tr>
  <tr>
    <td>Strength</td>
    <td>
      <app-stat-minimum-selection
        [value]="minStrength"
        [tooltips]="tooltipStrengthSelector"
        [maxPossibleValue]="maximumPossibleStats.strength"
        (onChange)="minStrength = $event.valueOf(); onMinStatValueChange()"></app-stat-minimum-selection>
    </td>
  </tr>
</table>

<span>
  <button mat-stroked-button id="clearStatButton" (click)="clearStatSelection()">Clear</button>
</span>

<span>
  <button mat-stroked-button class="selectStatDistributionButton" [matMenuTriggerFor]="menu1" aria-label="Select builds with three stats at tier 10."
  [disabled]="maximumPossibleAmountPerTier[3] == 0">
    <mat-icon>expand_more</mat-icon>
    Select 3x T10 Builds
  </button>
  <mat-menu #menu1="matMenu" menu>
  <button mat-menu-item *ngFor="let d of maximumPossibleAmountSets | filterPossibleAmountSet:3" (click)="useStatPreset(d)">
    <span class="statContainerWrapper" *ngFor="let p of d; let i = index">
        <img src="https://www.bungie.net/common/destiny2_content/icons/c9aa8439fc71c9ee336ba713535569ad.png" alt="Mobility" class="dialogStatIcon" *ngIf="p && i == 0">
        <img src="https://www.bungie.net/common/destiny2_content/icons/9f5f65d08b24defb660cebdfd7bae727.png" alt="Resilience" class="dialogStatIcon" *ngIf="p && i == 1">
        <img src="https://www.bungie.net/common/destiny2_content/icons/47e16a27c8387243dcf9b5d94e26ccc4.png" alt="Recovery" class="dialogStatIcon" *ngIf="p && i == 2">
        <img src="https://www.bungie.net/common/destiny2_content/icons/ca62128071dc254fe75891211b98b237.png" alt="Discipline" class="dialogStatIcon" *ngIf="p && i == 3">
        <img src="https://www.bungie.net/common/destiny2_content/icons/59732534ce7060dba681d1ba84c055a6.png" alt="Intellect" class="dialogStatIcon" *ngIf="p && i == 4">
        <img src="https://www.bungie.net/common/destiny2_content/icons/c7eefc8abbaa586eeab79e962a79d6ad.png" alt="Strength" class="dialogStatIcon" *ngIf="p && i == 5">
    </span>
  </button>
  </mat-menu>
</span>
<span>
  <button mat-stroked-button [matMenuTriggerFor]="menu2" aria-label="Select builds with four stats at tier 10." [disabled]="maximumPossibleAmountPerTier[4] == 0">
    <mat-icon>expand_more</mat-icon>
    Select 4x T10 Builds
  </button>
  <mat-menu #menu2="matMenu">
  <button mat-menu-item *ngFor="let d of maximumPossibleAmountSets | filterPossibleAmountSet:4" (click)="useStatPreset(d)">
    <span class="statContainerWrapper" *ngFor="let p of d; let i = index">
        <img src="https://www.bungie.net/common/destiny2_content/icons/c9aa8439fc71c9ee336ba713535569ad.png" alt="Mobility" class="dialogStatIcon" *ngIf="p && i == 0">
        <img src="https://www.bungie.net/common/destiny2_content/icons/9f5f65d08b24defb660cebdfd7bae727.png" alt="Resilience" class="dialogStatIcon" *ngIf="p && i == 1">
        <img src="https://www.bungie.net/common/destiny2_content/icons/47e16a27c8387243dcf9b5d94e26ccc4.png" alt="Recovery" class="dialogStatIcon" *ngIf="p && i == 2">
        <img src="https://www.bungie.net/common/destiny2_content/icons/ca62128071dc254fe75891211b98b237.png" alt="Discipline" class="dialogStatIcon" *ngIf="p && i == 3">
        <img src="https://www.bungie.net/common/destiny2_content/icons/59732534ce7060dba681d1ba84c055a6.png" alt="Intellect" class="dialogStatIcon" *ngIf="p && i == 4">
        <img src="https://www.bungie.net/common/destiny2_content/icons/c7eefc8abbaa586eeab79e962a79d6ad.png" alt="Strength" class="dialogStatIcon" *ngIf="p && i == 5">
    </span>
  </button>
  </mat-menu>
</span>

<br/>
<div>
  <h2>2. How many stat-mods do you want to use?</h2>
  <app-stat-minimum-selection (onChange)="maxMods = $event.valueOf(); onAllowedModChange()" [value]="5"
                              [values]="[0,1,2,3,4,5]"></app-stat-minimum-selection>
</div>



<div>
  <br>
  <h2>3. Do you want to lock an exotic?</h2>
  Click on any exotic to lock it. All results will contain this exotic. Click it again to remove the lock.<br/>

  <img class="exoticIcon {{ -1 === lockedExotic ? 'selected' : '' }}"
       src="https://www.bungie.net/common/destiny2_content/icons/b4d05ef69d0c3227a7d4f7f35bbc2848.png"
       matTooltip="Force to use NO exotic at all" #tooltip="matTooltip"
       (click)="changeLockedExotic(-1)">

  <app-exotic-item-display
    *ngFor="let item of lockedExoticHelmet"
    [item]="item"
    [selected]="item.hash === lockedExotic"
    (onClick)="changeLockedExotic(item.hash)"
  ></app-exotic-item-display>
  <br *ngIf="lockedExoticHelmet.length > 0"/>

  <app-exotic-item-display
    *ngFor="let item of lockedExoticGauntlet"
    [item]="item"
    [selected]="item.hash === lockedExotic"
    (onClick)="changeLockedExotic(item.hash)"
  ></app-exotic-item-display>
  <br *ngIf="lockedExoticGauntlet.length > 0"/>

  <app-exotic-item-display
    *ngFor="let item of lockedExoticChest"
    [item]="item"
    [selected]="item.hash === lockedExotic"
    (onClick)="changeLockedExotic(item.hash)"
  ></app-exotic-item-display>
  <br *ngIf="lockedExoticChest.length > 0"/>

  <app-exotic-item-display
    *ngFor="let item of lockedExoticLegs"
    [item]="item"
    [selected]="item.hash === lockedExotic"
    (onClick)="changeLockedExotic(item.hash)"
  ></app-exotic-item-display>
</div>


<br/><h2>4. Now select the combat style mods and abilities you want to use.</h2>
<div>
  <div><i>Please note that this tool ignores energy affinities at the moment.</i></div>
  <div>Positive effects:</div>
  <div>
    <mat-slide-toggle color="primary" [(ngModel)]="enablePowerfulFriends" [checked]="enablePowerfulFriends" [disabled]="!enablePowerfulFriends && selectedCombatModAmount >= 5"
                      (change)="onAllowedModChange()">Powerful Friends (<span class="statBonus">+20</span> Mobility)
    </mat-slide-toggle>
  </div>
  <div>
    <mat-slide-toggle color="primary" [(ngModel)]="enableRadiantLight" [checked]="enableRadiantLight" [disabled]="!enableRadiantLight && selectedCombatModAmount >= 5"
                      (change)="onAllowedModChange()">Radiant Light (<span class="statBonus">+20</span> Strength)
    </mat-slide-toggle>
  </div>
  <div>
    <mat-slide-toggle color="primary" [(ngModel)]="enableStasisWhisperOfDurance"
                      [disabled]="!enableStasisWhisperOfDurance && selectedStasisFragmentsAmount >= 5"
                      [checked]="enableStasisWhisperOfDurance" (change)="onAllowedModChange()">Whisper of Durance (
      <span class="statBonusStasis">+10</span>
      Strength)
    </mat-slide-toggle>
  </div>
  <div>
    <mat-slide-toggle color="primary" [(ngModel)]="enableStasisWhisperOfShards" [checked]="enableStasisWhisperOfShards"
                      [disabled]="!enableStasisWhisperOfShards && selectedStasisFragmentsAmount >= 5"
                      (change)="onAllowedModChange()">Whisper of Shards (<span class="statBonusStasis">+10</span>
      Resilience)
    </mat-slide-toggle>
  </div>
  <div>
    <mat-slide-toggle color="primary" [(ngModel)]="enableStasisWhisperOfConduction"
                      [disabled]="!enableStasisWhisperOfConduction && selectedStasisFragmentsAmount >= 5"
                      [checked]="enableStasisWhisperOfConduction" (change)="onAllowedModChange()">Whisper of Conduction
      (<span class="statBonusStasis">+10</span> Resilience,
      <span class="statBonusStasis">+10</span> Intellect)
    </mat-slide-toggle>
  </div>
  <div>
    <mat-slide-toggle color="primary" [(ngModel)]="enableStasisWhisperOfChains" [checked]="enableStasisWhisperOfChains"
                      [disabled]="!enableStasisWhisperOfChains && selectedStasisFragmentsAmount >= 5"
                      (change)="onAllowedModChange()">Whisper of Chains (<span class="statBonusStasis">+10</span> Recovery)
    </mat-slide-toggle>
  </div>
  <div>Negative effects:</div>
  <div><mat-slide-toggle color="primary" [(ngModel)]="enableModChargeHarvester" [checked]="enableModChargeHarvester"
                         [disabled]="!enableModChargeHarvester && selectedCombatModAmount >= 5"
                         (change)="onAllowedModChange()">Charge Harvester (<span class="statMalus">-10</span> {{["Resilience", "Mobility", "Recovery"][selectedClass] || "Class ability regeneration stat"}})
  </mat-slide-toggle></div>
  <div><mat-slide-toggle color="primary" [(ngModel)]="enableModEnergyConverter" [checked]="enableModEnergyConverter"
                         [disabled]="!enableModEnergyConverter && selectedCombatModAmount >= 5"
                         (change)="onAllowedModChange()">Energy Converter (<span class="statMalus">-10</span> Discipline)
  </mat-slide-toggle></div>
  <div><mat-slide-toggle color="primary" [(ngModel)]="enableModExtraReserves" [checked]="enableModExtraReserves"
                         [disabled]="!enableModExtraReserves && selectedCombatModAmount >= 5"
                         (change)="onAllowedModChange()">Extra Reserves (<span class="statMalus">-10</span> Intellect)
  </mat-slide-toggle></div>
  <div><mat-slide-toggle color="primary" [(ngModel)]="enableModPrecicelyCharged" [checked]="enableModPrecicelyCharged"
                         [disabled]="!enableModPrecicelyCharged && selectedCombatModAmount >= 5"
                         (change)="onAllowedModChange()">Precicely Charged (<span class="statMalus">-10</span> Discipline)
  </mat-slide-toggle></div>
  <div><mat-slide-toggle color="primary" [(ngModel)]="enableModPrecisionCharge" [checked]="enableModPrecisionCharge"
                         [disabled]="!enableModPrecisionCharge && selectedCombatModAmount >= 5"
                         (change)="onAllowedModChange()">Precision Charge (<span class="statMalus">-10</span> Strength)
  </mat-slide-toggle></div>
  <div><mat-slide-toggle color="primary" [(ngModel)]="enableModProtectiveLight" [checked]="enableModProtectiveLight"
                         [disabled]="!enableModProtectiveLight && selectedCombatModAmount >= 5"
                      (change)="onAllowedModChange()">Protective Light (<span class="statMalus">-10</span> Strength)
  </mat-slide-toggle></div>
  <div><mat-slide-toggle color="primary" [(ngModel)]="enableModStacksOnStacks" [checked]="enableModStacksOnStacks"
                         [disabled]="!enableModStacksOnStacks && selectedCombatModAmount >= 5"
        (change)="onAllowedModChange()">Stacks on Stacks (<span class="statMalus">-10</span> Recovery)
  </mat-slide-toggle></div>
  <div><mat-slide-toggle color="primary" [(ngModel)]="enableModSurpriseAttack" [checked]="enableModSurpriseAttack"
                         [disabled]="!enableModSurpriseAttack && selectedCombatModAmount >= 5"
        (change)="onAllowedModChange()">Surprise Attack (<span class="statMalus">-10</span> Intellect)
  </mat-slide-toggle></div>
  <div><mat-slide-toggle color="primary" [(ngModel)]="enableStasisWhisperOfBonds" [checked]="enableStasisWhisperOfBonds"
                         [disabled]="!enableStasisWhisperOfBonds && selectedStasisFragmentsAmount >= 5"
                         (change)="onAllowedModChange()">Whisper of Bonds (
    <span class="statMalusStasis">-10</span> Discipline,
    <span class="statMalusStasis">-10</span> Intellect)
  </mat-slide-toggle></div>
  <div><mat-slide-toggle color="primary" [(ngModel)]="enableStasisWhisperOfFractures" [checked]="enableStasisWhisperOfFractures"
                         [disabled]="!enableStasisWhisperOfFractures && selectedStasisFragmentsAmount >= 5"
                         (change)="onAllowedModChange()">Whisper of Fractures (<span class="statMalusStasis">-10</span> Discipline)
  </mat-slide-toggle></div>
  <div><mat-slide-toggle color="primary" [(ngModel)]="enableStasisWhisperOfHedrons" [checked]="enableStasisWhisperOfHedrons"
                         [disabled]="!enableStasisWhisperOfHedrons && selectedStasisFragmentsAmount >= 5"
        (change)="onAllowedModChange()">Whisper of Hedrons (<span class="statMalusStasis">-10</span> Strength)
  </mat-slide-toggle></div>
  <div><mat-slide-toggle color="primary" [(ngModel)]="enableStasisWhisperOfHunger" [checked]="enableStasisWhisperOfHunger"
                         [disabled]="!enableStasisWhisperOfHunger && selectedStasisFragmentsAmount >= 5"
        (change)="onAllowedModChange()">Whisper of Hunger (
    <span class="statMalusStasis">-10</span> Mobility,
    <span class="statMalusStasis">-10</span> Recovery)
  </mat-slide-toggle></div>
</div>


<br/>
<div>
  <h2>(5.) Advanced settings</h2>
  <div>
    <mat-slide-toggle color="primary" [(ngModel)]="filterAssumeMasterworked" [checked]="filterAssumeMasterworked"
                      (change)="triggerTableUpdate()">Assume items are masterworked
      <mat-icon inline aria-hidden="false" aria-label="Help"
                matTooltip="If you enable this setting, this tool will assume that all items are masterworked. If an item is not masterworked, it is assumed that you will masterwork it and the +2 on every stat are automatically added to every item."
                #tooltip="matTooltip"> help
      </mat-icon>
    </mat-slide-toggle>
  </div>
  <div>
    <mat-slide-toggle color="primary" [(ngModel)]="filterOnlyUseMasterworkedItems"
                      [checked]="filterOnlyUseMasterworkedItems"
                      (change)="triggerExoticPermutationUpdate()">Only use currently masterworked items
      <mat-icon inline aria-hidden="false" aria-label="Help"
                matTooltip="If you enable this setting, this tool will only use armor that is currently masterworked. Use it if you dont want to masterwork any more items. If you don't have any masterworked items, you won't get any results."
                #tooltip="matTooltip"> help
      </mat-icon>
    </mat-slide-toggle>
  </div>
  <div>
    <mat-slide-toggle color="primary" [(ngModel)]="filterOptimizeWastedStats"
                      [checked]="filterOptimizeWastedStats"
                      (change)="triggerExoticPermutationUpdate()">Try to reduce wasted stats with minor mods
      <mat-icon inline aria-hidden="false" aria-label="Help"
                matTooltip="If you enable this setting, this tool will try to optimize your stats to have less wasted stats. Note, this only works if it has empty mod slots after fulfilling your desired stats!"
                #tooltip="matTooltip"> help
      </mat-icon>
    </mat-slide-toggle>
  </div>
  <div>
    <mat-slide-toggle color="primary" [(ngModel)]="filterOptimizeWastedStatsOnlyShowPossible"
                      [checked]="filterOptimizeWastedStatsOnlyShowPossible"
                      [disabled]="!filterOptimizeWastedStats"
                      (change)="triggerExoticPermutationUpdate()">Only show results with zero wasted stats.
      <mat-icon inline aria-hidden="false" aria-label="Help"
                matTooltip="If you enable this setting, tool will only show results that have 0 wasted stats. This also impacts the preview in the stat selection."
                #tooltip="matTooltip"> help
      </mat-icon>
    </mat-slide-toggle>
  </div>
</div>
  </mat-card-content>
</mat-card>

<mat-card id="card-results">
  <mat-card-title> Results</mat-card-title>
  <mat-card-content>
<div *ngIf="possiblePermutationCount == 0">
  No results found... 😭
  You may want to reduce your stat requirements.<br/><br/>
</div>

<div>
  <div *ngIf="possiblePermutationCount > 0">
  Your selection results in {{possiblePermutationCount}} permutations.<br/>
  Click on a row to expand it and to see the list of the items required for this build.<br/>
  Use the listed stats to identify the armor you have to use.
  </div>
  <table class="result-table" mat-table [dataSource]="tableDataSource" multiTemplateDataRows
         matSort matSortActive="Mods" matSortDirection="asc">
    <!--- Note that these columns can be defined in any order.
     The actual rendered columns are set as a property on the row definition" -->
    <!-- Name Column -->
    <ng-container matColumnDef="mobility">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="Mobility">Mobility</th>
      <td mat-cell *matCellDef="let element " class="statColumn">{{element.totalStatsWithMods.mobility}}
      <img src="https://www.bungie.net/common/destiny2_content/icons/c9aa8439fc71c9ee336ba713535569ad.png" alt="Mobility" class="statIcon">
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="resilience">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="Resilience"> Resilience</th>
      <td mat-cell *matCellDef="let element " class="statColumn">{{element.totalStatsWithMods.resilience}}
        <img src="https://www.bungie.net/common/destiny2_content/icons/9f5f65d08b24defb660cebdfd7bae727.png" alt="Resilience" class="statIcon">
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="recovery">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="Recovery"> Recovery</th>
      <td mat-cell *matCellDef="let element " class="statColumn">{{element.totalStatsWithMods.recovery}}
        <img src="https://www.bungie.net/common/destiny2_content/icons/47e16a27c8387243dcf9b5d94e26ccc4.png" alt="Recovery" class="statIcon">
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="discipline">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="Discipline"> Discipline</th>
      <td mat-cell *matCellDef="let element " class="statColumn">{{element.totalStatsWithMods.discipline}}
        <img src="https://www.bungie.net/common/destiny2_content/icons/ca62128071dc254fe75891211b98b237.png" alt="Discipline" class="statIcon">
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="intellect">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="Intellect"> Intellect</th>
      <td mat-cell *matCellDef="let element " class="statColumn">{{element.totalStatsWithMods.intellect}}
        <img src="https://www.bungie.net/common/destiny2_content/icons/59732534ce7060dba681d1ba84c055a6.png" alt="Intellect" class="statIcon">
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="strength">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="Strength">Strength</th>
      <td mat-cell *matCellDef="let element " class="statColumn">{{element.totalStatsWithMods.strength}}
        <img src="https://www.bungie.net/common/destiny2_content/icons/c7eefc8abbaa586eeab79e962a79d6ad.png" alt="Strength" class="statIcon">
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="mods">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="Mods"> Used Mods</th>
      <td mat-cell *matCellDef="let element ">
        <span *ngIf="element.mods[12] == 0">None</span>
        <app-table-mod-display class="modPreview"
          url="https://www.bungie.net/common/destiny2_content/icons/c664ddd10920daab49cc3808dbb6a1e6.png"
          tooltipText="Mobility" [amount]="getTotalModsFromSet(element.mods[0], element.mods[1])"></app-table-mod-display>
        <app-table-mod-display class="modPreview"
          url="https://www.bungie.net/common/destiny2_content/icons/195f4f173adb52b336b4ecd67101004d.png"
          tooltipText="Resilience" [amount]="getTotalModsFromSet(element.mods[2], element.mods[3])"></app-table-mod-display>
        <app-table-mod-display class="modPreview"
          url="https://www.bungie.net/common/destiny2_content/icons/18054408a5fc068f2384c6c31a183423.png"
          tooltipText="Recovery" [amount]="getTotalModsFromSet(element.mods[4], element.mods[5])"></app-table-mod-display>
        <app-table-mod-display class="modPreview"
          url="https://www.bungie.net/common/destiny2_content/icons/9d54e2149f945b2c298020da443b70fa.png"
          tooltipText="Discipline" [amount]="getTotalModsFromSet(element.mods[6], element.mods[7])"></app-table-mod-display>
        <app-table-mod-display class="modPreview"
          url="https://www.bungie.net/common/destiny2_content/icons/9fd56c3b42923c9df23edf585b0107bf.png"
          tooltipText="Intellect" [amount]="getTotalModsFromSet(element.mods[8], element.mods[9])"></app-table-mod-display>
        <app-table-mod-display class="modPreview"
          url="https://www.bungie.net/common/destiny2_content/icons/07f2361532c79e773909220e5884ab07.png"
          tooltipText="Strength" [amount]="getTotalModsFromSet(element.mods[10], element.mods[11])"></app-table-mod-display>
      </td>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="exotic">
      <th mat-header-cell *matHeaderCellDef> Exotic</th>
      <td mat-cell *matCellDef="let element ">
        <img *ngIf="element.permutation.hasExotic" class="itemIcon"
             matTooltip="{{getExoticForPermutation(element.permutation)?.name}}" #tooltip="matTooltip"
             src="https://bungie.net/{{getExoticForPermutation(element.permutation)?.icon}}">
        <img *ngIf="!element.permutation.hasExotic" class="itemIcon"
             src="https://www.bungie.net/common/destiny2_content/icons/b4d05ef69d0c3227a7d4f7f35bbc2848.png">
      </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="dropdown">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element ">
          <mat-icon *ngIf="expandedElement !== element" matTooltip="Click to show details for this build.">expand_more</mat-icon>
          <mat-icon *ngIf="expandedElement === element" matTooltip="Click to hide details for this build.">expand_less</mat-icon>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="tiers">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="Tiers">Tiers</th>
      <td mat-cell *matCellDef="let element "> {{element.tiers}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="wastedStats">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="wastedStats">Wasted</th>
      <td mat-cell *matCellDef="let element "> {{element.w}} </td>
    </ng-container>


    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="shownColumns.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-diagram">
            Items:
          </div>
          <div class="example-element-description">

            <table class="specificStatTable">
              <thead>
              <tr>
                <th>Name</th>
                <th>Mobility</th>
                <th>Resilience</th>
                <th>Recovery</th>
                <th>Discipline</th>
                <th>Intellect</th>
                <th>Strength</th>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tr
                *ngFor="let i of element.permutation.items">
                <td>
                  <mat-icon aria-hidden="false" aria-label="Done" class="itemTransferStatusIcon" *ngIf="i.parseStatus == 2">check_circle_outline</mat-icon>
                  <mat-icon aria-hidden="false" aria-label="Waiting" class="itemTransferStatusIcon" *ngIf="i.parseStatus == 1">hourglass_empty</mat-icon>
                  <u *ngIf="i.masterworked" matTooltip='This item is already masterworked.' #tooltip="matTooltip">{{i.name}}</u>
                  <span *ngIf="!i.masterworked">{{i.name}}</span>
                </td>
                <td>{{i.mobility + ((filterAssumeMasterworked || i.masterworked) ? 2 : 0)}}</td>
                <td>{{i.resilience + ((filterAssumeMasterworked || i.masterworked) ? 2 : 0)}}</td>
                <td>{{i.recovery + ((filterAssumeMasterworked || i.masterworked) ? 2 : 0)}}</td>
                <td>{{i.discipline + ((filterAssumeMasterworked || i.masterworked) ? 2 : 0)}}</td>
                <td>{{i.intellect + ((filterAssumeMasterworked || i.masterworked) ? 2 : 0)}}</td>
                <td>{{i.strength + ((filterAssumeMasterworked || i.masterworked) ? 2 : 0)}}</td>
                <td>
                  <!-- Item Icon -->
                  <img class="item-icon" src="https://bungie.net/{{i.icon}}">
                </td>
                <td>
                  <!-- Item affinity -->
                  <img class="element-icon" *ngIf="i.energyAffinity == 1"
                       src="https://www.bungie.net/common/destiny2_content/icons/DestinyEnergyTypeDefinition_092d066688b879c807c3b460afdd61e6.png"
                       matTooltip='Arc affinity' #tooltip="matTooltip">
                  <img class="element-icon" *ngIf="i.energyAffinity == 2"
                       src="https://www.bungie.net/common/destiny2_content/icons/DestinyEnergyTypeDefinition_2a1773e10968f2d088b97c22b22bba9e.png"
                       matTooltip='Solar affinity' #tooltip="matTooltip">
                  <img class="element-icon" *ngIf="i.energyAffinity == 3"
                       src="https://www.bungie.net/common/destiny2_content/icons/DestinyEnergyTypeDefinition_ceb2f6197dccf3958bb31cc783eb97a0.png"
                       matTooltip='Void affinity' #tooltip="matTooltip">
                  <img class="element-icon" *ngIf="i.energyAffinity == 6"
                       src="https://www.bungie.net/common/destiny2_content/icons/DestinyEnergyTypeDefinition_530c4c3e7981dc2aefd24fd3293482bf.png"
                       matTooltip='Stasis affinity' #tooltip="matTooltip">
                </td>
              </tr>
              <tr>
                <td><u matTooltip='Class item should be masterworked.' #tooltip="matTooltip">Any Class Item</u></td>
                <td>{{2}}</td>
                <td>{{2}}</td>
                <td>{{2}}</td>
                <td>{{2}}</td>
                <td>{{2}}</td>
                <td>{{2}}</td>
              </tr>
              <tr class="staticModBoostRow">
                <td>Static Boosts</td>
                <td><span class="statBonus" *ngIf="this.enablePowerfulFriends">+20</span></td>
                <td>
                  <span class="statBonusStasis" *ngIf="enableStasisWhisperOfShards || enableStasisWhisperOfConduction">
                    +{{(enableStasisWhisperOfShards ? 10 : 0) + (enableStasisWhisperOfConduction ? 10 : 0)}}
                  </span>
                </td>
                <td><span class="statBonusStasis" *ngIf="this.enableStasisWhisperOfChains"> +10</span></td>
                <td></td>
                <td><span class="statBonusStasis" *ngIf="this.enableStasisWhisperOfConduction"> +10</span></td>
                <td>
                  <span class="statBonus" *ngIf="this.enableRadiantLight">+20</span>
                  <span class="statBonusStasis" *ngIf="this.enableStasisWhisperOfDurance"> +10</span>
                </td>
              </tr>
              <tr class="staticModPenaltyRow">
                <td>Static Penalties</td>
                <td>
                  <span class="statMalus" *ngIf="selectedClass == 1 && enableModChargeHarvester">-10</span>
                  <span class="statMalusStasis" *ngIf="enableStasisWhisperOfHunger"> -10</span>
                </td>
                <td>
                  <span class="statMalus" *ngIf="selectedClass == 0 && enableModChargeHarvester">-10</span>
                </td>
                <td>
                  <span class="statMalus" *ngIf="enableModStacksOnStacks ||(enableModChargeHarvester && selectedClass == 2)">-{{
                    (enableModStacksOnStacks ? 10: 0) + ((enableModChargeHarvester && selectedClass == 2) ? 10 : 0)}}</span>
                  <span class="statMalusStasis" *ngIf="enableStasisWhisperOfHunger"> -10</span>
                </td>
                <td>
                  <span class="statMalus" *ngIf="enableModPrecicelyCharged || enableModEnergyConverter">-{{
                    (enableModPrecicelyCharged ? 10: 0) + (enableModEnergyConverter ? 10 : 0)}}</span>
                  <span class="statMalusStasis" *ngIf="enableStasisWhisperOfBonds || enableStasisWhisperOfFractures"> -{{
                    (enableStasisWhisperOfFractures ? 10: 0) + (enableStasisWhisperOfBonds ? 10 : 0)
                    }}</span>
                </td>
                <td>
                  <span class="statMalus" *ngIf="enableModExtraReserves || enableModSurpriseAttack">-{{
                  (enableModExtraReserves ? 10: 0) + (enableModSurpriseAttack ? 10 : 0)}}</span>
                  <span class="statMalusStasis" *ngIf="enableStasisWhisperOfBonds"> -10</span>
                </td>
                <td>
                  <span class="statMalus" *ngIf="enableModProtectiveLight || enableModPrecisionCharge">-{{
                    (enableModProtectiveLight ? 10: 0) + (enableModPrecisionCharge ? 10: 0)
                    }}</span>
                  <span class="statMalusStasis" *ngIf="enableStasisWhisperOfHedrons"> -10</span>
                </td>
              </tr>
              <tr class="statTotalRow">
                <td>Total</td>
                <td class="statMiniColumn">{{element.permutation.getStats(filterAssumeMasterworked).mobility
                + (enablePowerfulFriends ? 20 : 0)
                - (enableStasisWhisperOfHunger ? 10 : 0) - ((selectedClass==1 && enableModChargeHarvester) ? 10 : 0)}}
                  <img src="https://www.bungie.net/common/destiny2_content/icons/c9aa8439fc71c9ee336ba713535569ad.png" alt="Mobility" class="statIconMini">
                </td>
                <td class="statMiniColumn">{{element.permutation.getStats(filterAssumeMasterworked).resilience
                + (this.enableStasisWhisperOfShards ? 10 : 0) + (this.enableStasisWhisperOfConduction ? 10 : 0)
                - ((selectedClass == 0 && enableModChargeHarvester) ? 10 : 0)}}
                  <img src="https://www.bungie.net/common/destiny2_content/icons/9f5f65d08b24defb660cebdfd7bae727.png" alt="Resilience" class="statIconMini">
                </td>
                <td class="statMiniColumn">{{element.permutation.getStats(filterAssumeMasterworked).recovery
                + (this.enableStasisWhisperOfChains ? 10 : 0)
                - (this.enableModStacksOnStacks ? 10 : 0) - (this.enableStasisWhisperOfHunger ? 10 : 0) - ((selectedClass == 2 && enableModChargeHarvester) ? 10 : 0)}}
                  <img src="https://www.bungie.net/common/destiny2_content/icons/47e16a27c8387243dcf9b5d94e26ccc4.png" alt="Recovery" class="statIconMini">
                </td>
                <td class="statMiniColumn">{{element.permutation.getStats(filterAssumeMasterworked).discipline
                - (enableModPrecicelyCharged ? 10 : 0) - (enableModEnergyConverter ? 10 : 0)
                - (enableStasisWhisperOfBonds ? 10 : 0) - (enableStasisWhisperOfFractures ? 10 : 0)}}
                  <img src="https://www.bungie.net/common/destiny2_content/icons/ca62128071dc254fe75891211b98b237.png" alt="Discipline" class="statIconMini">
                </td>
                <td class="statMiniColumn">{{element.permutation.getStats(filterAssumeMasterworked).intellect
                + (enableStasisWhisperOfConduction ? 10 : 0)
                - (enableModExtraReserves ? 10 : 0) - (enableModSurpriseAttack ? 10 : 0) - (enableStasisWhisperOfBonds ? 10 : 0)
                  }}
                  <img src="https://www.bungie.net/common/destiny2_content/icons/59732534ce7060dba681d1ba84c055a6.png" alt="Intellect" class="statIconMini">
                </td>
                <td class="statMiniColumn">{{element.permutation.getStats(filterAssumeMasterworked).strength
                + (this.enableRadiantLight ? 20 : 0) + (this.enableStasisWhisperOfDurance ? 10 : 0)
                - (this.enableModPrecisionCharge ? 10 : 0) - (this.enableModProtectiveLight ? 10 : 0) - (this.enableStasisWhisperOfHedrons ? 10 : 0)
                  }}
                  <img src="https://www.bungie.net/common/destiny2_content/icons/c7eefc8abbaa586eeab79e962a79d6ad.png" alt="Strength" class="statIconMini">
                </td>
              </tr>

              <tr class="modRow" *ngIf="(element.mods[0]+element.mods[2]+element.mods[4]+element.mods[6]+element.mods[8] + element.mods[10]) > 0">
                <td>+5 Mods</td>
                <td>
                  <span class="statBonusMod" *ngIf="element.mods[0] > 0">{{element.mods[0]}}x +5</span>
                  <span class="statBonusMod" *ngIf="element.mods[0] == 0">-</span>
                </td>
                <td>
                  <span class="statBonusMod" *ngIf="element.mods[2] > 0">{{element.mods[2]}}x +5</span>
                  <span class="statBonusMod" *ngIf="element.mods[2] == 0">-</span>
                </td>
                <td>
                  <span class="statBonusMod" *ngIf="element.mods[4] > 0">{{element.mods[4]}}x +5</span>
                  <span class="statBonusMod" *ngIf="element.mods[4] == 0">-</span>
                </td>
                <td>
                  <span class="statBonusMod" *ngIf="element.mods[6] > 0">{{element.mods[6]}}x +5</span>
                  <span class="statBonusMod" *ngIf="element.mods[6] == 0">-</span>
                </td>
                <td>
                  <span class="statBonusMod" *ngIf="element.mods[8] > 0">{{element.mods[8]}}x +5</span>
                  <span class="statBonusMod" *ngIf="element.mods[8] == 0">-</span>
                </td>
                <td>
                  <span class="statBonusMod" *ngIf="element.mods[10] > 0">{{element.mods[10]}}x +5</span>
                  <span class="statBonusMod" *ngIf="element.mods[10] == 0">-</span>
                </td>
              </tr>
              <tr class="modRow" *ngIf="(element.mods[1]+element.mods[3]+element.mods[5]+element.mods[7]+element.mods[9] + element.mods[11]) > 0">
                <td>+10 Mods</td>
                <td>
                  <span class="statBonusMod" *ngIf="element.mods[1] > 0">{{element.mods[1]}}x +10</span>
                  <span class="statBonusMod" *ngIf="element.mods[1] == 0">-</span>
                </td>
                <td>
                  <span class="statBonusMod" *ngIf="element.mods[3] > 0">{{element.mods[3]}}x +10</span>
                  <span class="statBonusMod" *ngIf="element.mods[3] == 0">-</span>
                </td>
                <td>
                  <span class="statBonusMod" *ngIf="element.mods[5] > 0">{{element.mods[5]}}x +10</span>
                  <span class="statBonusMod" *ngIf="element.mods[5] == 0">-</span>
                </td>
                <td>
                  <span class="statBonusMod" *ngIf="element.mods[7] > 0">{{element.mods[7]}}x +10</span>
                  <span class="statBonusMod" *ngIf="element.mods[7] == 0">-</span>
                </td>
                <td>
                  <span class="statBonusMod" *ngIf="element.mods[9] > 0">{{element.mods[9]}}x +10</span>
                  <span class="statBonusMod" *ngIf="element.mods[9] == 0">-</span>
                </td>
                <td>
                  <span class="statBonusMod" *ngIf="element.mods[11] > 0">{{element.mods[11]}}x +10</span>
                  <span class="statBonusMod" *ngIf="element.mods[11] == 0">-</span>
                </td>
              </tr>
              <tr class="statTotalRow" *ngIf="element.mods[12] > 0">
                <td>Total with mods</td>
                <td class="statMiniColumn">{{element.totalStatsWithMods.mobility}}
                  <img src="https://www.bungie.net/common/destiny2_content/icons/c9aa8439fc71c9ee336ba713535569ad.png" alt="Mobility" class="statIconMini">
                </td>
                <td class="statMiniColumn">{{element.totalStatsWithMods.resilience}}
                  <img src="https://www.bungie.net/common/destiny2_content/icons/9f5f65d08b24defb660cebdfd7bae727.png" alt="Resilience" class="statIconMini">
                </td>
                <td class="statMiniColumn">{{element.totalStatsWithMods.recovery}}
                  <img src="https://www.bungie.net/common/destiny2_content/icons/47e16a27c8387243dcf9b5d94e26ccc4.png" alt="Recovery" class="statIconMini">
                </td>
                <td class="statMiniColumn">{{element.totalStatsWithMods.discipline}}
                  <img src="https://www.bungie.net/common/destiny2_content/icons/ca62128071dc254fe75891211b98b237.png" alt="Discipline" class="statIconMini">
                </td>
                <td class="statMiniColumn">{{element.totalStatsWithMods.intellect}}
                  <img src="https://www.bungie.net/common/destiny2_content/icons/59732534ce7060dba681d1ba84c055a6.png" alt="Intellect" class="statIconMini">
                </td>
                <td class="statMiniColumn">{{element.totalStatsWithMods.strength}}
                  <img src="https://www.bungie.net/common/destiny2_content/icons/c7eefc8abbaa586eeab79e962a79d6ad.png" alt="Strength" class="statIconMini">
                </td>
              </tr>
            </table>

            <!-- Equip stuff -->
            <div>
              Move all items to:
              <span *ngFor="let character of characters">
                <span
                  *ngIf="character.clazz == selectedClass"
                  (click)="movePermutationItems(character.characterId, element)">
                <!-- SVGs shamelessly stolen from DIM. I hereby credit them ;) -->
                <svg *ngIf="character.clazz == 0" class="svgClassIcon" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="currentColor" d="m14.839 15.979-13.178-7.609v15.218zm2.322 0 13.178 7.609v-15.218zm5.485-12.175-6.589-3.804-13.178 7.609 13.178 7.609 13.179-7.609zm0 16.784-6.589-3.805-13.178 7.609 13.178 7.608 13.179-7.608-6.59-3.805z"></path></svg>
                <svg *ngIf="character.clazz == 2" class="svgClassIcon" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="currentColor" d="m5.442 23.986 7.255-11.65-2.71-4.322-9.987 15.972zm5.986 0 4.28-6.849-2.717-4.333-6.992 11.182zm7.83-11.611 7.316 11.611h5.426l-10.015-15.972zm-7.26 11.611h8.004l-4.008-6.392zm6.991-11.182-2.703 4.324 4.302 6.858h5.413zm-5.707-.459 2.71-4.331 2.71 4.331-2.703 4.326z"></path></svg>
                <svg *ngIf="character.clazz == 1" class="svgClassIcon" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="currentColor" d="m9.055 10.446 6.945-.023-6.948 10.451 6.948-.024-7.412 11.15h-7.045l7.036-10.428h-7.036l7.032-10.422h-7.032l7.507-11.126 6.95-.024zm13.89 0-6.945-10.446 6.95.024 7.507 11.126h-7.032l7.032 10.422h-7.036l7.036 10.428h-7.045l-7.412-11.15 6.948.024-6.948-10.451z"></path></svg>
                </span>
              </span>
              (beta!)
              <mat-icon inline aria-hidden="false" aria-label="Help"
                               matTooltip='Moves the items into the inventory. It DOES NOT check for full inventory. It DOES NOT equip the items.'
                               #tooltip="matTooltip"> help
              </mat-icon>
            </div>
            <!-- /Equip stuff -->
          </div>
        </div>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="shownColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: shownColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 50, 100, 200]"
                 pageSize="20"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>

  </mat-card-content>
</mat-card>
