.itemIcon {
  width: 32px;
  height: 32px;
  margin-right: 3px;
}

.result-table {
  width: 100%;
  max-width: 900px;
}

.statBonusMod {
  color: cornflowerblue;
}

.statBonus {
  color: lightseagreen;
}

.statBonusStasis {
  color: lightblue;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

tr.example-detail-row {
  height: 0;
}

.example-element-row td {
  border-bottom-width: 0;
}

.specificStatTable tr > td {
  text-align: right;
}

.statTotalRow > td {
  border-top: aliceblue double;
}

#loading {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.info {

  z-index: 1000;
  position: fixed;
  width: 200px;

  left: 50%;
  top: 1%;
  transform: translateX(-50%);

  border: antiquewhite 1px solid;
}

#refreshBtn {
  margin-right: 20px;
}

#buttonContainer {
  position: fixed;
  bottom: 2px;
  right: 2px;
  z-index: 100;
}

.exoticIcon {
  width: 40px;
  height: 40px;
  margin-right: 3px;

  border: #00000000 solid 2px;
}

.selected {
  border: red solid 2px;
}

#card-config {
  float: left;
  width: fit-content;
  margin-bottom: 20px;
  margin-right: 4px;
}

#card-results {
  float: left;
  width: fit-content;
}

.element-icon {
  width: 22px;
}

.item-icon {
  width: 22px;
}
