<mat-card class="info" *ngIf="updatingManifest">Updating the manifest. Please wait. <br/>If this takes too long, please logout and login again.</mat-card>
<mat-card class="info" *ngIf="updatingArmor">Updating the character armor. Please wait.</mat-card>
<mat-card class="info" *ngIf="updatingPermutations">Updating armor permutations. Please wait.</mat-card>
<mat-card class="info" *ngIf="updatingTable">Updating result table. Please wait.</mat-card>

<mat-progress-bar mode="indeterminate" id="loading"
                  *ngIf="updatingPermutations || updatingTable || updatingArmor || updatingManifest"
></mat-progress-bar>

<div id="buttonContainer">
  <button id="refreshBtn" mat-raised-button color="primary" (click)="refreshAll(true)">Refresh items</button>
  <button id="logoutBtn" mat-raised-button color="warn" (click)="logout()">Logout</button>
</div>


<mat-card id="card-config">
  <mat-card-title> Configuration</mat-card-title>
  <mat-card-content>

    <span>Please note: The results are either on the right or below the configuration.</span>

<h2>Select the class of your guardian.</h2>
<mat-form-field appearance="fill">
  <mat-label>Class</mat-label>
  <mat-select [(value)]="selectedClass" (selectionChange)="onClassChange()">
    <mat-option [value]="1">Hunter</mat-option>
    <mat-option [value]="0">Titan</mat-option>
    <mat-option [value]="2">Warlock</mat-option>
  </mat-select>
</mat-form-field>

<br/>
<h2>1. Select the values your gear should have.
  <mat-icon inline aria-hidden="false" aria-label="Help" id="help-select-stats"
            matTooltip='Use the buttons to define the stats you want. Colored values are selected, gray means they are selectable and hollow values are not achievable with your gear.'
            #tooltip="matTooltip"> help
  </mat-icon>
</h2>
<table>
  <tr>
    <td>Mobility</td>
    <td>
      <app-stat-minimum-selection
        [tooltips]="tooltipMobilitySelector"
        [maxPossibleValue]="maximumPossibleStats.mobility"
        (onChange)="minMobility = $event.valueOf(); onMinStatValueChange()"></app-stat-minimum-selection>
    </td>
  </tr>
  <tr>
    <td>Resilience</td>
    <td>
      <app-stat-minimum-selection
        [tooltips]="tooltipResilienceSelector"
        [maxPossibleValue]="maximumPossibleStats.resilience"
        (onChange)="minResilience = $event.valueOf(); onMinStatValueChange()"></app-stat-minimum-selection>
    </td>
  </tr>
  <tr>
    <td>Recovery</td>
    <td>
      <app-stat-minimum-selection
        [tooltips]="tooltipRecoverySelector"
        [maxPossibleValue]="maximumPossibleStats.recovery"
        (onChange)="minRecovery = $event.valueOf(); onMinStatValueChange()"></app-stat-minimum-selection>
    </td>
  </tr>
  <tr>
    <td>Discipline</td>
    <td>
      <app-stat-minimum-selection
        [tooltips]="tooltipDisciplineSelector"
        [maxPossibleValue]="maximumPossibleStats.discipline"
        (onChange)="minDiscipline = $event.valueOf(); onMinStatValueChange()"></app-stat-minimum-selection>
    </td>
  </tr>
  <tr>
    <td>Intellect</td>
    <td>
      <app-stat-minimum-selection
        [tooltips]="tooltipIntellectSelector"
        [maxPossibleValue]="maximumPossibleStats.intellect"
        (onChange)="minIntellect = $event.valueOf(); onMinStatValueChange()"></app-stat-minimum-selection>
    </td>
  </tr>
  <tr>
    <td>Strength</td>
    <td>
      <app-stat-minimum-selection
        [tooltips]="tooltipStrengthSelector"
        [maxPossibleValue]="maximumPossibleStats.strength"
        (onChange)="minStrength = $event.valueOf(); onMinStatValueChange()"></app-stat-minimum-selection>
    </td>
  </tr>
</table>
Your selection results in {{possiblePermutationCount}} permutations.
<span *ngIf="possiblePermutationCount == 0">You may want to reduce your stat requirements.</span>

<br/><h2>2. Now select the combat style mods and abilities you want to use.</h2>
<div>
  <div>
    <mat-slide-toggle color="primary" [(ngModel)]="enablePowerfulFriends" [checked]="enablePowerfulFriends"
                      (change)="onAllowedModChange()">Powerful Friends (<span class="statBonus">+20</span> Mobility)
    </mat-slide-toggle>
  </div>
  <div>
    <mat-slide-toggle color="primary" [(ngModel)]="enableRadiantLight" [checked]="enableRadiantLight"
                      (change)="onAllowedModChange()">Radiant Light (<span class="statBonus">+20</span> Strength)
    </mat-slide-toggle>
  </div>
  <div>
    <mat-slide-toggle color="primary" [(ngModel)]="enableStasisWhisperOfDurance"
                      [checked]="enableStasisWhisperOfDurance" (change)="onAllowedModChange()">Whisper of Durance (
      <span class="statBonusStasis">+10</span>
      Strength)
    </mat-slide-toggle>
  </div>
  <div>
    <mat-slide-toggle color="primary" [(ngModel)]="enableStasisWhisperOfShards" [checked]="enableStasisWhisperOfShards"
                      (change)="onAllowedModChange()">Whisper of Shards (<span class="statBonusStasis">+10</span>
      Resilience)
    </mat-slide-toggle>
  </div>
  <div>
    <mat-slide-toggle color="primary" [(ngModel)]="enableStasisWhisperOfConduction"
                      [checked]="enableStasisWhisperOfConduction" (change)="onAllowedModChange()">Whisper of Conduction
      (<span class="statBonusStasis">+10</span> Resilience,
      <span class="statBonusStasis">+10</span> Intellect)
    </mat-slide-toggle>
  </div>
  <div>
    <mat-slide-toggle color="primary" [(ngModel)]="enableStasisWhisperOfChains" [checked]="enableStasisWhisperOfChains"
                      (change)="onAllowedModChange()">Whisper of Chains (<span class="statBonusStasis">+10</span>
      Recovery)
    </mat-slide-toggle>
  </div>
</div>

<br/>
<div>
  <h2>3. How many stat-mods do you want to use?</h2>
  <app-stat-minimum-selection (onChange)="maxMods = $event.valueOf(); onAllowedModChange()" [value]="5"
                              [values]="[0,1,2,3,4,5]"></app-stat-minimum-selection>
</div>

<div>
  <br>
  <h2>4. Do you want to lock an exotic?</h2>
  Click on any exotic to lock it. All results will contain this exotic. Click it again to remove the lock.<br/>

  <img class="exoticIcon {{ -1 === lockedExotic ? 'selected' : '' }}"
       src="https://www.bungie.net/common/destiny2_content/icons/b4d05ef69d0c3227a7d4f7f35bbc2848.png"
       matTooltip="Force to use NO exotic at all" #tooltip="matTooltip"
       (click)="changeLockedExotic(-1)">

  <app-exotic-item-display
    *ngFor="let item of lockedExoticHelmet"
    [item]="item"
    [selected]="item.hash === lockedExotic"
    (onClick)="changeLockedExotic(item.hash)"
  ></app-exotic-item-display>
  <br/>

  <app-exotic-item-display
    *ngFor="let item of lockedExoticGauntlet"
    [item]="item"
    [selected]="item.hash === lockedExotic"
    (onClick)="changeLockedExotic(item.hash)"
  ></app-exotic-item-display>
  <br/>

  <app-exotic-item-display
    *ngFor="let item of lockedExoticChest"
    [item]="item"
    [selected]="item.hash === lockedExotic"
    (onClick)="changeLockedExotic(item.hash)"
  ></app-exotic-item-display>
  <br/>

  <app-exotic-item-display
    *ngFor="let item of lockedExoticLegs"
    [item]="item"
    [selected]="item.hash === lockedExotic"
    (onClick)="changeLockedExotic(item.hash)"
  ></app-exotic-item-display>
  <br/>

</div>


<br/>
<div>
  <h2>(5.) Advanced settings</h2>
  <div>
    <mat-slide-toggle color="primary" [(ngModel)]="filterAssumeMasterworked" [checked]="filterAssumeMasterworked"
                      (change)="triggerTableUpdate()">Assume items are masterworked
      <mat-icon inline aria-hidden="false" aria-label="Help"
                matTooltip="If you enable this setting, this tool will assume that all items are masterworked. If an item is not masterworked, it is assumed that you will masterwork it and the +2 on every stat are automatically added to every item."
                #tooltip="matTooltip"> help
      </mat-icon>
    </mat-slide-toggle>
  </div>
  <div>
    <mat-slide-toggle color="primary" [(ngModel)]="filterOnlyUseMasterworkedItems"
                      [checked]="filterOnlyUseMasterworkedItems"
                      (change)="triggerExoticPermutationUpdate()">Only use currently masterworked items
      <mat-icon inline aria-hidden="false" aria-label="Help"
                matTooltip="If you enable this setting, this tool will only use armor that is currently masterworked. Use it if you dont want to masterwork any more items. If you don't have any masterworked items, you won't get any results."
                #tooltip="matTooltip"> help
      </mat-icon>
    </mat-slide-toggle>
  </div>
</div>
  </mat-card-content>
</mat-card>

<mat-card id="card-results">
  <mat-card-title> Results</mat-card-title>
  <mat-card-content>
<div *ngIf="possiblePermutationCount == 0">
  No results found... 😭
  You may want to reduce your stat requirements.<br/><br/>
</div>

<div>
  <div *ngIf="possiblePermutationCount > 0">
  Your selection results in {{possiblePermutationCount}} permutations.<br/>
  Click on a row to expand it and to see the list of the items required for this build.<br/>
  Use the listed stats to identify the armor you have to use.
  </div>
  <table class="result-table" mat-table [dataSource]="tableDataSource" multiTemplateDataRows
         matSort matSortActive="Tiers" matSortDirection="desc">
    <!--- Note that these columns can be defined in any order.
     The actual rendered columns are set as a property on the row definition" -->
    <!-- Name Column -->
    <ng-container matColumnDef="mobility">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="Mobility"> Mobility</th>
      <td mat-cell *matCellDef="let element ">{{element.totalStatsWithMods.mobility}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="resilience">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="Resilience"> Resilience</th>
      <td mat-cell *matCellDef="let element ">{{element.totalStatsWithMods.resilience}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="recovery">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="Recovery"> Recovery</th>
      <td mat-cell *matCellDef="let element ">{{element.totalStatsWithMods.recovery}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="discipline">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="Discipline"> Discipline</th>
      <td mat-cell *matCellDef="let element ">{{element.totalStatsWithMods.discipline}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="intellect">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="Intellect"> Intellect</th>
      <td mat-cell *matCellDef="let element ">{{element.totalStatsWithMods.intellect}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="strength">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="Strength">Strength</th>
      <td mat-cell *matCellDef="let element ">{{element.totalStatsWithMods.strength}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="mods">
      <th mat-header-cell *matHeaderCellDef> Used Mods</th>
      <td mat-cell *matCellDef="let element ">
        <span *ngIf="element.mods.total == 0">None</span>
        <app-table-mod-display class="modPreview"
          url="https://www.bungie.net/common/destiny2_content/icons/c664ddd10920daab49cc3808dbb6a1e6.png"
          tooltipText="Mobility" [amount]="element.mods.mobility"></app-table-mod-display>
        <app-table-mod-display class="modPreview"
          url="https://www.bungie.net/common/destiny2_content/icons/195f4f173adb52b336b4ecd67101004d.png"
          tooltipText="Resilience" [amount]="element.mods.resilience"></app-table-mod-display>
        <app-table-mod-display class="modPreview"
          url="https://www.bungie.net/common/destiny2_content/icons/18054408a5fc068f2384c6c31a183423.png"
          tooltipText="Recovery" [amount]="element.mods.recovery"></app-table-mod-display>
        <app-table-mod-display class="modPreview"
          url="https://www.bungie.net/common/destiny2_content/icons/9d54e2149f945b2c298020da443b70fa.png"
          tooltipText="Discipline" [amount]="element.mods.discipline"></app-table-mod-display>
        <app-table-mod-display class="modPreview"
          url="https://www.bungie.net/common/destiny2_content/icons/9fd56c3b42923c9df23edf585b0107bf.png"
          tooltipText="Intellect" [amount]="element.mods.intellect"></app-table-mod-display>
        <app-table-mod-display class="modPreview"
          url="https://www.bungie.net/common/destiny2_content/icons/07f2361532c79e773909220e5884ab07.png"
          tooltipText="Strength" [amount]="element.mods.strength"></app-table-mod-display>
      </td>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="exotic">
      <th mat-header-cell *matHeaderCellDef> Exotic</th>
      <td mat-cell *matCellDef="let element ">
        <img *ngIf="element.permutation.hasExotic" class="itemIcon"
             matTooltip="{{getExoticForPermutation(element.permutation)?.name}}" #tooltip="matTooltip"
             src="https://bungie.net/{{getExoticForPermutation(element.permutation)?.icon}}">
        <img *ngIf="!element.permutation.hasExotic" class="itemIcon"
             src="https://www.bungie.net/common/destiny2_content/icons/b4d05ef69d0c3227a7d4f7f35bbc2848.png">
      </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="dropdown">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element ">
          <mat-icon *ngIf="expandedElement !== element" matTooltip="Click to show details for this build.">expand_more</mat-icon>
          <mat-icon *ngIf="expandedElement === element" matTooltip="Click to hide details for this build.">expand_less</mat-icon>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="tiers">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="Tiers">Tiers</th>
      <td mat-cell *matCellDef="let element "> {{element.tiers}} </td>
    </ng-container>


    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="shownColumns.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-diagram">
            Items:
          </div>
          <div class="example-element-description">

            <table class="specificStatTable">
              <thead>
              <tr>
                <th>Name</th>
                <th>Mobility</th>
                <th>Resilience</th>
                <th>Recovery</th>
                <th>Discipline</th>
                <th>Intellect</th>
                <th>Strength</th>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tr
                *ngFor="let i of element.permutation.items">
                <td *ngIf="!i.masterworked">{{i.name}}</td>
                <td *ngIf="i.masterworked">
                  <u matTooltip='This item is already masterworked.' #tooltip="matTooltip">{{i.name}}</u>
                </td>
                <td>{{i.mobility + 2}}</td>
                <td>{{i.resilience + 2}}</td>
                <td>{{i.recovery + 2}}</td>
                <td>{{i.discipline + 2}}</td>
                <td>{{i.intellect + 2}}</td>
                <td>{{i.strength + 2}}</td>
                <td>
                  <!-- Item Icon -->
                  <img class="item-icon" src="https://bungie.net/{{i.icon}}">
                </td>
                <td>
                  <!-- Item affinity -->
                  <img class="element-icon" *ngIf="i.energyAffinity == 1"
                       src="https://www.bungie.net/common/destiny2_content/icons/DestinyEnergyTypeDefinition_092d066688b879c807c3b460afdd61e6.png"
                       matTooltip='Arc affinity' #tooltip="matTooltip">
                  <img class="element-icon" *ngIf="i.energyAffinity == 2"
                       src="https://www.bungie.net/common/destiny2_content/icons/DestinyEnergyTypeDefinition_2a1773e10968f2d088b97c22b22bba9e.png"
                       matTooltip='Solar affinity' #tooltip="matTooltip">
                  <img class="element-icon" *ngIf="i.energyAffinity == 3"
                       src="https://www.bungie.net/common/destiny2_content/icons/DestinyEnergyTypeDefinition_ceb2f6197dccf3958bb31cc783eb97a0.png"
                       matTooltip='Void affinity' #tooltip="matTooltip">
                </td>
              </tr>
              <tr>
                <td>Any Class Item</td>
                <td>{{2}}</td>
                <td>{{2}}</td>
                <td>{{2}}</td>
                <td>{{2}}</td>
                <td>{{2}}</td>
                <td>{{2}}</td>
              </tr>
              <tr class="staticModBoostRow">
                <td>Static Boosts</td>
                <td><span class="statBonus" *ngIf="this.enablePowerfulFriends">+20</span></td>
                <td>
                  <span class="statBonusStasis" *ngIf="this.enableStasisWhisperOfShards">+10</span>
                  <span class="statBonusStasis" *ngIf="this.enableStasisWhisperOfConduction">+10</span>
                </td>
                <td><span class="statBonusStasis" *ngIf="this.enableStasisWhisperOfChains">+10</span></td>
                <td></td>
                <td><span class="statBonusStasis" *ngIf="this.enableStasisWhisperOfConduction">+10</span></td>
                <td>
                  <span class="statBonus" *ngIf="this.enableRadiantLight">+20</span>
                  <span class="statBonusStasis" *ngIf="this.enableStasisWhisperOfDurance">+10</span>
                </td>
              </tr>
              <tr class="statTotalRow">
                <td>Total</td>
                <td>{{element.permutation.getStats(filterAssumeMasterworked).mobility + (this.enablePowerfulFriends ? 20 : 0)}}</td>
                <td>{{element.permutation.getStats(filterAssumeMasterworked).resilience + (this.enableStasisWhisperOfShards ? 10 : 0) + (this.enableStasisWhisperOfConduction ? 10 : 0)}}</td>
                <td>{{element.permutation.getStats(filterAssumeMasterworked).recovery + (this.enableStasisWhisperOfChains ? 10 : 0)}}</td>
                <td>{{element.permutation.getStats(filterAssumeMasterworked).discipline}}</td>
                <td>{{element.permutation.getStats(filterAssumeMasterworked).intellect + (this.enableStasisWhisperOfConduction ? 10 : 0)}}</td>
                <td>{{element.permutation.getStats(filterAssumeMasterworked).strength
                + (this.enableRadiantLight ? 20 : 0)
                + (this.enableStasisWhisperOfDurance ? 10 : 0)}}</td>
              </tr>

              <tr class="modRow">
                <td>Mods</td>
                <td>
                  <span class="statBonusMod" *ngIf="element.mods.mobility > 0">+{{element.mods.mobility}}x10</span>
                </td>
                <td>
                  <span class="statBonusMod" *ngIf="element.mods.resilience > 0">+{{element.mods.resilience}}x10</span>
                </td>
                <td>
                  <span class="statBonusMod" *ngIf="element.mods.recovery > 0">+{{element.mods.recovery}}x10</span>
                </td>
                <td>
                  <span class="statBonusMod" *ngIf="element.mods.discipline > 0">+{{element.mods.discipline}}x10</span>
                </td>
                <td>
                  <span class="statBonusMod" *ngIf="element.mods.intellect > 0">+{{element.mods.intellect}}x10</span>
                </td>
                <td>
                  <span class="statBonusMod" *ngIf="element.mods.strength > 0">+{{element.mods.strength}}x10</span>
                </td>
              </tr>
              <tr class="statTotalRow">
                <td>Total with mods</td>
                <td>{{element.totalStatsWithMods.mobility}}</td>
                <td>{{element.totalStatsWithMods.resilience}}</td>
                <td>{{element.totalStatsWithMods.recovery}}</td>
                <td>{{element.totalStatsWithMods.discipline}}</td>
                <td>{{element.totalStatsWithMods.intellect}}</td>
                <td>{{element.totalStatsWithMods.strength}}</td>
              </tr>
            </table>
          </div>
        </div>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="shownColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: shownColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 50, 100, 200]"
                 pageSize="20"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>

  </mat-card-content>
</mat-card>
