<app-slot-limitation-selection [slot]="$any(ArmorSlot.ArmorSlotHelmet)"></app-slot-limitation-selection><br/>
<app-slot-limitation-selection [slot]="$any(ArmorSlot.ArmorSlotGauntlet)"></app-slot-limitation-selection><br/>
<app-slot-limitation-selection [slot]="$any(ArmorSlot.ArmorSlotChest)"></app-slot-limitation-selection><br/>
<app-slot-limitation-selection [slot]="$any(ArmorSlot.ArmorSlotLegs)"></app-slot-limitation-selection><br/>
<app-slot-limitation-selection [slot]="$any(ArmorSlot.ArmorSlotClass)"></app-slot-limitation-selection>
