<div id="account-config-container">
  <a
    class="returnbutton"
    color="primary"
    fxShow="false"
    fxShow.lt-md="true"
    mat-raised-button
    routerLink="/">
    Return to D2ArmorPicker
  </a>
  <mat-card>
    <mat-card-title> Account Configuration </mat-card-title>
    <mat-card-subtitle>
      The configuration on this page will not be reset when you reset your build settings.
    </mat-card-subtitle>
    <mat-card-content>
      This will come in a future update. Right now, I just wanted to push the "Debugging" section
      out.
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title> Debugging </mat-card-title>
    <mat-card-subtitle> Some options for debugging purposes. </mat-card-subtitle>
    <mat-card-content>
      If the team asks you to send some specific data, you can find it here:<br />
      <a
        (click)="downloadArmorInformation()"
        class="btn-download"
        color="primary"
        mat-raised-button>
        Download armor information (d2ap_armor.json)
      </a>
      <a
        (click)="downloadManifestInformation()"
        class="btn-download"
        color="primary"
        mat-raised-button>
        Download manifest information (d2ap_manifest.json)
      </a>
      <br />
      <br />

      If you experience issues with the local database - for example, exotics not being found, try
      this:<br />
      <a (click)="resetDatabase()" class="btn-download" color="warn" mat-raised-button>
        Delete Database </a
      ><br />
      If you really want to reset EVERYTHING, use this: <br />
      <a (click)="resetEverything()" class="btn-download" color="warn" mat-raised-button>
        Reset the whole application
      </a>
    </mat-card-content>
  </mat-card>

  <a
    class="returnbutton"
    color="primary"
    fxShow="false"
    fxShow.lt-md="true"
    mat-raised-button
    routerLink="/">
    Return to D2ArmorPicker
  </a>
</div>
