D2AP_BUNGIE_API_KEY=
D2AP_BUNGIE_CLIENT_ID=
D2AP_BUNGIE_CLIENT_SECRET=

D2AP_SENTRY_DSN=
D2AP_OPEN_REPLAY_PROJECT_KEY=

D2AP_SHOW_LOGS=0

D2AP_FEATURE_ENABLE_MODSLOT_LIMITATION=0
D2AP_FEATURE_ENABLE_ZERO_WASTE=0
D2AP_FEATURE_ENABLE_GUARDIAN_GAMES_FEATURES=1