<span class="statContainerWrapper">
  <img
    src="https://www.bungie.net/common/destiny2_content/icons/e26e0e93a9daf4fdd21bf64eb9246340.png"
    class="dialogStatIcon"
    *ngIf="stat === 0"
    alt="Mobility" />
  <img
    src="https://www.bungie.net/common/destiny2_content/icons/202ecc1c6febeb6b97dafc856e863140.png"
    class="dialogStatIcon"
    *ngIf="stat === 1"
    alt="Resilience" />
  <img
    src="https://www.bungie.net/common/destiny2_content/icons/128eee4ee7fc127851ab32eac6ca91cf.png"
    class="dialogStatIcon"
    *ngIf="stat === 2"
    alt="Recovery" />
  <img
    src="https://www.bungie.net/common/destiny2_content/icons/79be2d4adef6a19203f7385e5c63b45b.png"
    class="dialogStatIcon"
    *ngIf="stat === 3"
    alt="Discipline" />
  <img
    src="https://www.bungie.net/common/destiny2_content/icons/d1c154469670e9a592c9d4cbdcae5764.png"
    class="dialogStatIcon"
    *ngIf="stat === 4"
    alt="Intellect" />
  <img
    src="https://www.bungie.net/common/destiny2_content/icons/ea5af04ccd6a3470a44fd7bb0f66e2f7.png"
    class="dialogStatIcon"
    *ngIf="stat === 5"
    alt="Strength" />
</span>
