<span class="statContainerWrapper">
    <img
        src="https://www.bungie.net/common/destiny2_content/icons/e26e0e93a9daf4fdd21bf64eb9246340.png"
        class="dialogStatIcon"
        *ngIf="stat === 0"
        alt="Mobility" />
    <img
        src="https://www.bungie.net/common/destiny2_content/icons/202ecc1c6febeb6b97dafc856e863140.png"
        class="dialogStatIcon"
        *ngIf="stat === 1"
        alt="Resilience" />
    <img
        src="https://www.bungie.net/common/destiny2_content/icons/128eee4ee7fc127851ab32eac6ca91cf.png"
        class="dialogStatIcon"
        *ngIf="stat === 2"
        alt="Recovery" />
    <img
        src="https://www.bungie.net/common/destiny2_content/icons/ca62128071dc254fe75891211b98b237.png"
        class="dialogStatIcon"
        *ngIf="stat === 3"
        alt="Discipline" />
    <img
        src="https://www.bungie.net/common/destiny2_content/icons/59732534ce7060dba681d1ba84c055a6.png"
        class="dialogStatIcon"
        *ngIf="stat === 4"
        alt="Intellect" />
    <img
        src="https://www.bungie.net/common/destiny2_content/icons/c7eefc8abbaa586eeab79e962a79d6ad.png"
        class="dialogStatIcon"
        *ngIf="stat === 5"
        alt="Strength" />
</span>
