<span class="statContainerWrapper">
    <img src="https://www.bungie.net/common/destiny2_content/icons/c9aa8439fc71c9ee336ba713535569ad.png"
         class="dialogStatIcon" *ngIf="stat == 0" alt="Mobility">
    <img src="https://www.bungie.net/common/destiny2_content/icons/9f5f65d08b24defb660cebdfd7bae727.png"
         class="dialogStatIcon" *ngIf="stat == 1" alt="Resilience">
    <img src="https://www.bungie.net/common/destiny2_content/icons/47e16a27c8387243dcf9b5d94e26ccc4.png"
         class="dialogStatIcon" *ngIf="stat ==2" alt="Recovery">
    <img src="https://www.bungie.net/common/destiny2_content/icons/ca62128071dc254fe75891211b98b237.png"
         class="dialogStatIcon" *ngIf="stat == 3" alt="Discipline">
    <img src="https://www.bungie.net/common/destiny2_content/icons/59732534ce7060dba681d1ba84c055a6.png"
         class="dialogStatIcon" *ngIf="stat == 4" alt="Intellect">
    <img src="https://www.bungie.net/common/destiny2_content/icons/c7eefc8abbaa586eeab79e962a79d6ad.png"
         class="dialogStatIcon" *ngIf="stat == 5" alt="Strength">
</span>
