<mat-card>
  <mat-card-title>Character</mat-card-title>
  <mat-card-content>
    <app-desired-class-selection></app-desired-class-selection>
  </mat-card-content>
  <mat-card-title>Select the stats you want to achieve</mat-card-title>
  <mat-card-content>
    <app-desired-stat-selection></app-desired-stat-selection>
  </mat-card-content>
  <mat-card-title>Desired Mods</mat-card-title>
  <mat-card-content>
    <app-desired-mod-selection></app-desired-mod-selection>
  </mat-card-content>
  <mat-card-title>Exotic</mat-card-title>
  <mat-card-content>
    <app-desired-exotic-selection></app-desired-exotic-selection>
  </mat-card-content>
</mat-card>
