<mat-card id="card-config">
  <mat-card-title>Character</mat-card-title>
  <mat-card-content>
    <app-desired-class-selection></app-desired-class-selection>
  </mat-card-content>

  <mat-card-title>Select the stats you want to achieve</mat-card-title>
  <mat-card-content>
    <app-desired-stat-selection></app-desired-stat-selection>
  </mat-card-content>

  <mat-card-title>Desired Mod Limit</mat-card-title>
  <mat-card-content>
    <app-desired-mod-selection></app-desired-mod-selection>
  </mat-card-content>


  <mat-card-title>Exotic</mat-card-title>
  <mat-card-content>
    <app-desired-exotic-selection></app-desired-exotic-selection>
  </mat-card-content>

  <mat-card-title>Desired Element Affinity</mat-card-title>
  <mat-card-content>
    <app-desired-elemental-affinity-selection></app-desired-elemental-affinity-selection>
  </mat-card-content>

  <mat-card-title>Desired Mods</mat-card-title>
  <mat-card-content>
    <app-desired-mods-selection></app-desired-mods-selection>
  </mat-card-content>

  <mat-card-title>Advanced Settings</mat-card-title>
  <mat-card-content>
    <app-advanced-settings></app-advanced-settings>
  </mat-card-content>

  <mat-card-title>Configuration Management</mat-card-title>
  <mat-card-content>
    <app-load-and-save-settings></app-load-and-save-settings>
  </mat-card-content>
</mat-card>
