<span *ngFor="let d of data">
  <h3 class="stat-part-title">{{d.name}}</h3>
  <table mat-table [dataSource]="d.data">
  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">
      <mat-slide-toggle
        color="primary" disabled style="cursor: pointer !important;"
        [checked]="selectedMods.indexOf(element.id) > -1">
        {{element.name}}
      </mat-slide-toggle>
    </td>
  </ng-container>

    <!-- Position Column -->
  <ng-container matColumnDef="mobility">
    <th mat-header-cell *matHeaderCellDef>
      <app-stat-icon [stat]="0"></app-stat-icon>
    </th>
    <td mat-cell *matCellDef="let element">
      <span *ngVar="getModifierTextForValue(element.bonus, 0) as value">
        <span *ngIf="value > 0" class="stat-positive">+{{value}}</span>
        <span *ngIf="value < 0" class="stat-negative">{{value}}</span>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="cost">
    <th mat-header-cell *matHeaderCellDef>
      Element
    </th>
    <td mat-cell *matCellDef="let element">
        <!-- Item affinity -->
        <img class="element-icon" *ngIf="element.requiredArmorAffinity == 1"
             src="https://www.bungie.net/common/destiny2_content/icons/DestinyEnergyTypeDefinition_092d066688b879c807c3b460afdd61e6.png"
             matTooltip='Arc affinity' #tooltip="matTooltip">
        <img class="element-icon" *ngIf="element.requiredArmorAffinity == 2"
             src="https://www.bungie.net/common/destiny2_content/icons/DestinyEnergyTypeDefinition_2a1773e10968f2d088b97c22b22bba9e.png"
             matTooltip='Solar affinity' #tooltip="matTooltip">
        <img class="element-icon" *ngIf="element.requiredArmorAffinity == 3"
             src="https://www.bungie.net/common/destiny2_content/icons/DestinyEnergyTypeDefinition_ceb2f6197dccf3958bb31cc783eb97a0.png"
             matTooltip='Void affinity' #tooltip="matTooltip">
        <img class="element-icon" *ngIf="element.requiredArmorAffinity == 6"
             src="https://www.bungie.net/common/destiny2_content/icons/DestinyEnergyTypeDefinition_530c4c3e7981dc2aefd24fd3293482bf.png"
             matTooltip='Stasis affinity' #tooltip="matTooltip">
    </td>
  </ng-container>

    <!-- Position Column -->
  <ng-container matColumnDef="resilience">
    <th mat-header-cell *matHeaderCellDef>
      <app-stat-icon [stat]="1"></app-stat-icon>
    </th>
    <td mat-cell *matCellDef="let element">
      <span *ngVar="getModifierTextForValue(element.bonus, 1) as value">
        <span *ngIf="value > 0" class="stat-positive">+{{value}}</span>
        <span *ngIf="value < 0" class="stat-negative">{{value}}</span>
      </span>
    </td>
  </ng-container>

    <!-- Position Column -->
  <ng-container matColumnDef="recovery">
    <th mat-header-cell *matHeaderCellDef>
      <app-stat-icon [stat]="2"></app-stat-icon>
    </th>
    <td mat-cell *matCellDef="let element">
      <span *ngVar="getModifierTextForValue(element.bonus, 2) as value">
        <span *ngIf="value > 0" class="stat-positive">+{{value}}</span>
        <span *ngIf="value < 0" class="stat-negative">{{value}}</span>
      </span>
    </td>
  </ng-container>

    <!-- Position Column -->
  <ng-container matColumnDef="discipline">
    <th mat-header-cell *matHeaderCellDef>
      <app-stat-icon [stat]="3"></app-stat-icon>
    </th>
    <td mat-cell *matCellDef="let element">
      <span *ngVar="getModifierTextForValue(element.bonus, 3) as value">
        <span *ngIf="value > 0" class="stat-positive">+{{value}}</span>
        <span *ngIf="value < 0" class="stat-negative">{{value}}</span>
      </span>
    </td>
  </ng-container>

    <!-- Position Column -->
  <ng-container matColumnDef="intellect">
    <th mat-header-cell *matHeaderCellDef>
      <app-stat-icon [stat]="4"></app-stat-icon>
    </th>
    <td mat-cell *matCellDef="let element">
      <span *ngVar="getModifierTextForValue(element.bonus, 4) as value">
        <span *ngIf="value > 0" class="stat-positive">+{{value}}</span>
        <span *ngIf="value < 0" class="stat-negative">{{value}}</span>
      </span>
    </td>
  </ng-container>


    <!-- Position Column -->
  <ng-container matColumnDef="strength">
    <th mat-header-cell *matHeaderCellDef>
      <app-stat-icon [stat]="5"></app-stat-icon>
    </th>
    <td mat-cell *matCellDef="let element">
      <span *ngVar="getModifierTextForValue(element.bonus, 5) as value">
        <span *ngIf="value > 0" class="stat-positive">+{{value}}</span>
        <span *ngIf="value < 0" class="stat-negative">{{value}}</span>
      </span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      [class.selected]="selectedMods.indexOf(row.id) > -1"
      (click)="handleRowClick(row)"
  ></tr>
</table>


</span>

<div id="clear-container">
  <button mat-stroked-button color="warn" (click)="clear()">Clear the whole selection</button>
</div>
