.bungie-day {
  height: fit-content;
  position:relative;
  max-width: 100vw;
  word-break: break-all;
}

.bungie-day img.donordrive {
  height: 30px;
  margin-left: 2px;
  margin-right: 2px;
}

.bungie-day a, .bungie-day a:visited {
  color: white;
}

.bungie-day .header-spacer {
  flex: 1 1 auto;
}
