<mat-toolbar id="bungie-day" color="accent">
  <span class="header-spacer"></span>

  <img fxHide.xs src="../assets/bungie-game2give.png" class="donordrive" alt="donordrive">
  <a href="https://bungiefoundation.donordrive.com/participant/16280"
     target="_blank"
     title="Awesome guardians support the Bungie Game2Give every year!"  >
    Support us at the Bungie Game2Give 2022 ❤
  </a>
  <span class="header-spacer"></span>
</mat-toolbar>

<app-handle-bungie-login></app-handle-bungie-login>
<router-outlet></router-outlet>
