<mat-toolbar id="bungie-day" color="accent" style="display:none">
  <span class="header-spacer"></span>

  <img src="../assets/bungieday-white.png" class="donordrive" alt="donordrive">
  <a href="https://bungiefoundation.donordrive.com/participant/mijago"
     target="_blank"
     title="Awesome guardians support the Bungie Foundation every year!"  >
    Support us at the Bungie Day Giving Festival
  </a>
  <span class="header-spacer"></span>
</mat-toolbar>

<app-handle-bungie-login></app-handle-bungie-login>
<router-outlet></router-outlet>
