<div>
  <div class="tooltip-container">
    <table>
      <tr>
        <td class="perk-icon-col" rowspan="2">
          <img *ngIf="exoticPerk" alt="{{exoticPerk.name}}" class="perk-icon" src="https://bungie.net/{{exoticPerk.icon}}">
        </td>
        <td class="exotic-name">{{armor?.name}}</td>
      </tr>
      <tr *ngIf="!exoticPerk && !exoticPerkNotThere">
        <td>Loading exotic perk..</td>
      </tr>
      <tr *ngIf="!exoticPerk && exoticPerkNotThere">
        <td>No (fixed) exotic perk available.</td>
      </tr>
      <tr *ngIf="exoticPerk">
        <td>
          <span>{{exoticPerk.name}}</span>
        </td>
      </tr>
      <tr *ngIf="exoticPerk">
        <td colspan="2">
          {{exoticPerk.description}}
        </td>
      </tr>
    </table>
  </div>
</div>
