:host {
  width: 350px;
}

.tooltip-container {
  border: 1px solid gray;
  padding: 1px 5px 4px 5px;
  background: linear-gradient(#484848 0px, #2c2c2c 100%);
}

.perk-icon {
  width: 50px;
  height: 50px;
}
.perk-icon-col {
  width: 55px;
}

.exotic-name {
  color: #eedb9e;
}
