mat-card {
  max-width: 600px;
  margin-bottom: 4px;
  margin-left: auto;
  margin-right: auto;
}

button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

a {
  color: #99afe3;
}
a:visited {
  color: #7294dc;
}
.example-header-image {
  background-image: url("../../../assets/superGreatLogo.png");
  background-size: cover;
}

.image-example {
  max-width: 100%;
}

.armor-image-container {
  overflow: auto;
}
.armor-image-container > img {
  max-height: 300px;
}
