<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Destiny 2 Armor Picker</mat-card-title>
    <mat-card-subtitle>A simple armor min-max tool by Mijago for the <a href="https://d2s.gg">D2Sanctuary community</a>.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      This tool allows you to select the optimal armor from your inventory and vault to satisfy your stat needs.
      It also tells you which stat mods you have to use!
      <br/>
      <br/>
      You have to log in to enable this tool to grab your armor from the API.<br/>
      If you like my tools and want to support me, head to <a href="https://www.buymeacoffee.com/mijago" target="_blank">buymeacoffee.com</a> and buy me a coffee! ❤
      <br/>
      If you found a bug or have a feature request, please open an issue <a href="https://github.com/Mijago/D2ArmorPicker" target="_blank">in the Github Repository</a>!
      <br/>
      <br/>
      D2ArmorPicker is developed for Chromium based browsers. It may have some problems with Safari, as that browser does not support WebWorkers as it should.
      <br/>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="startLogin()">Login</button>
  </mat-card-actions>

</mat-card>
