.element-icon {
  height: 100%;
  width: 100%;

  &.disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }
}

.overlay-icon-container {
  position: relative;

  .overlay-icon {
    width: 66%;
    position: absolute;
    left: 17%;
    top: 17%;
    pointer-events: none;
  }
}
:host {
  display: inline-flex;
  height: 30px;
  width: 30px;
}
