<mat-toolbar id="header" role="heading">
  <span>D2ArmorPicker <small> by Mijago</small></span>
  <span class="header-spacer"></span>
  <div id="buttonContainer">
    <button mat-icon-button class="example-icon" aria-label="Refresh" (click)="refreshAll(true)"
            matTooltip="Reload all items from the API.">
      <mat-icon>refresh</mat-icon>
    </button>

    <button mat-icon-button color="warn" class="example-icon" aria-label="Logout" (click)="logout()"
            matTooltip="Logout">
      <mat-icon>logout</mat-icon>
    </button>

  </div>
</mat-toolbar>
