<div class="character-container">
  <div *ngIf="userdata.characters.length == 0" class="character-entry" >
    Loading characters..
  </div>
  <div (click)="selectClass(char.clazz)"
       *ngFor="let char of userdata.characters"
       [class.selected]="selectedClass == char.clazz"
       [style.background-image]="'url(https://bungie.net/'+char.emblemUrl+')'"
       class="character-entry"
       style="float: left;">
    <div class="class-text">
      <span *ngIf="char.clazz == 0">Titan</span>
      <span *ngIf="char.clazz == 1">Hunter</span>
      <span *ngIf="char.clazz == 2">Warlock</span>
    </div>
  </div>
</div>

<a color="primary" fxShow="false"
   fxShow.lt-md="true" mat-flat-button
   routerLink="/help"
   style="margin-left: 15px;">
  <mat-icon inline>help</mat-icon>
  Help and Information about D2ArmorPicker
</a>

<div>
  <a color="accent" href="https://ko-fi.com/mijago"
     mat-stroked-button matTooltip="You like my work? This leads you to ko-fi.com, where you can easily support me!" target="_blank">
    <mat-icon inline>attach_money</mat-icon>
    If you like my work, you can support me here!
  </a>

  <a class="discord-btn" color="accent"
     href="http://discord.d2armorpicker.com" mat-stroked-button target="_blank">
    Join my dev Discord!
  </a>
</div>
