.discord-btn {
  margin-left: 15px;
}

::ng-deep .mat-option-text {
  color: #FFFFFF;
}


.character-container {
  height:50px;
}

.character-entry{
  color: white;

  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  width: 180px;
  height: 36px;
  position: relative;

  margin-right: 7px;
  margin-bottom: 7px;

  border: rgba(255, 255, 255, 0) solid 2px;
  opacity: 0.75;

  cursor: pointer;

  &:hover {
    border: rgba(255, 255, 255, 0.41) solid 2px;
    opacity: 0.98;
  }

  &.selected {
    cursor: default;
    opacity: 1.0;
    border: white solid 2px;
  }

}

.class-text {
  position: absolute;
  left: 35px;
  top: 8px;
  font-size: x-large;
  text-shadow:  0 0 6px #000000;
}

.head-icon {
  height: 25px;
  top: 6px;
  right: 30px;
  position: absolute;
  filter: invert(1) drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.25)) !important;
}

.armor-text {
  position: absolute;
  right: 4px;
  top: 9px;
  text-shadow:  0 0 6px #000000;
  font-size: small;
}
