<form [formGroup]="settingsNameForm" (submit)="submit()">
  <table id="settings">
    <tr>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Name to save the configuration</mat-label>
          <input matInput placeholder="Awesome Discipline Build 4" formControlName="name" maxlength="30" minlength="4">
        </mat-form-field>
      </td>
      <td>
        <button mat-raised-button color="primary" type="submit" [disabled]="!this.settingsNameForm.get('name')?.value || this.settingsNameForm.get('name')?.value.length < 4
|| this.settingsNameForm.get('name')?.value.length > 30">
          Save current
        </button>
      </td>
      <td>
        <button mat-raised-button color="warn" (click)="clearEverything()"
                matTooltip="Clears the ENTIRE configuration and uses the default settings. Use with caution."
        >Clear everything
        </button>
      </td>
    </tr>
    <tr style="display: none">
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Load saved configuration</mat-label>
          <mat-select [(value)]="selectedEntry" [disabled]="storedConfigs.length == 0">
            <mat-option *ngFor="let element of storedConfigs" [value]="element.name">
              <span>(<span *ngIf="element.configuration.characterClass == 0">Titan</span>
                <span *ngIf="element.configuration.characterClass == 1">Hunter</span>
                <span *ngIf="element.configuration.characterClass == 2">Warlock</span>)
              </span>
              <span> {{element.name}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <button mat-raised-button color="primary" (click)="load(selectedEntry)" [disabled]="!selectedEntry || storedConfigs.length == 0"
                matTooltip="Load the currently selected configuration.">Load
        </button>
      </td>
      <td>
        <button mat-stroked-button color="warn" (click)="delete(selectedEntry)" [disabled]="!selectedEntry || storedConfigs.length == 0"
                matTooltip="Delete the currently selected configuration. Can not be undone.">Delete
        </button>
      </td>
    </tr>
  </table>
</form>
<br/>

<table mat-table [dataSource]="storedConfigs">
  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{element.name}} </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="class">
    <th mat-header-cell *matHeaderCellDef>
      Class
    </th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element.configuration.characterClass == 0">Titan</span>
      <span *ngIf="element.configuration.characterClass == 1">Hunter</span>
      <span *ngIf="element.configuration.characterClass == 2">Warlock</span>
    </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="mobility">
    <th mat-header-cell *matHeaderCellDef>
      <app-stat-icon [stat]="0"></app-stat-icon>
    </th>
    <td mat-cell *matCellDef="let element">
      {{element.configuration.minimumStatTier[0] * 10}}
    </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="resilience">
    <th mat-header-cell *matHeaderCellDef>
      <app-stat-icon [stat]="1"></app-stat-icon>
    </th>
    <td mat-cell *matCellDef="let element">
      {{element.configuration.minimumStatTier[1] * 10}}
    </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="recovery">
    <th mat-header-cell *matHeaderCellDef>
      <app-stat-icon [stat]="2"></app-stat-icon>
    </th>
    <td mat-cell *matCellDef="let element">
      {{element.configuration.minimumStatTier[2] * 10}}
    </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="discipline">
    <th mat-header-cell *matHeaderCellDef>
      <app-stat-icon [stat]="3"></app-stat-icon>
    </th>
    <td mat-cell *matCellDef="let element">
      {{element.configuration.minimumStatTier[3] * 10}}
    </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="intellect">
    <th mat-header-cell *matHeaderCellDef>
      <app-stat-icon [stat]="4"></app-stat-icon>
    </th>
    <td mat-cell *matCellDef="let element">
      {{element.configuration.minimumStatTier[4] * 10}}
    </td>
  </ng-container>


  <!-- Position Column -->
  <ng-container matColumnDef="strength">
    <th mat-header-cell *matHeaderCellDef>
      <app-stat-icon [stat]="5"></app-stat-icon>
    </th>
    <td mat-cell *matCellDef="let element">
      {{element.configuration.minimumStatTier[5] * 10}}
    </td>
  </ng-container>


  <!-- Position Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>
      Delete
    </th>
    <td mat-cell *matCellDef="let element">
      <button mat-stroked-button color="warn" (click)="delete(element.name)">Delete</button>
    </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="load">
    <th mat-header-cell *matHeaderCellDef>Load</th>
    <td mat-cell *matCellDef="let element">
      <button mat-flat-button color="primary" (click)="load(element.name)">Load</button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
