#card-results {
  float: left;
  width: fit-content;
  margin-left: 3px;
}

.statColumn {
  position: relative;
}

.statIcon {
  position: absolute;
  height: 22px;
  margin-left: 2px;
  top: 11px;
}

.itemIcon {
  width: 32px;
  height: 32px;
  margin-right: 3px;
}

.itemIconWatermark {
  width: 32px;
  height: 32px;
  margin-right: 3px;
  margin-left: -35px;
  pointer-events: none;
}

tr.example-element-row td {
  border-bottom-width: 0;
}

tr.example-detail-row {
  height: 0 !important;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.report-problem-icon {
  color: lightcoral;
}

:host ::ng-deep .info-box .mat-form-field-wrapper {
  padding-bottom: 5px !important;
}

.config-summary-box {
  width: 100%;
}

.result-table tr.example-element-row {
  cursor: pointer;

}

.mat-row:nth-child(4n+3) {
  background-color: rgba(116, 116, 116, 0.1);
}

.warning-none-found {
  color: red;
}
