.exoticIcon {
  width: 40px;
  height: 40px;
  margin-right: 3px;

  border: #00000000 solid 2px;
  cursor: pointer;
}

.watermarkIcon {
  width: 40px;
  height: 40px;
  margin-left: -45px;
  margin-top: 2px;
  position: absolute;
  pointer-events: none;
}

.exoticIcon:hover {
  border: cornflowerblue solid 2px;
}


.selected, .selected:hover {
  border: #0059ff solid 2px;
}

:host {
  position: relative;
}

.exoticText {
  position: absolute;
  text-shadow:  0 0 6px #000000;
  background: rgba(33, 33, 33, 0.51);
  color: whitesmoke;
  bottom: 4px;
  right: 5px;
}

.disabled {
  filter: grayscale(1.0) contrast(0.6);

  &:hover {
    cursor: default;
  }
}
