#cluster-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

mat-card {
    margin-bottom: 8px;
}

.searchQueryField {
    width: 100%;
}

.returnbutton {
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
}

.stat-range {
    height: 20px;
    width: 100%;
    margin-bottom: 3px;
    float: left;
    background-color: gray;
}

.stat-range-bar {
    height: 100%;
    float: left;
    background-color: white;
}

.settings-container {
    display: flex;
    justify-content: space-between;
}

.settings-container:not(:last-of-type) {
    padding-bottom: 2px;
    border-bottom: 1px whitesmoke solid;
    margin-bottom: 2px;
}

.red {
    color: red;
}

.red.mat-button-toggle-checked {
    background-color: red;
    color: white;
}

.green {
    color: green;
}

.green.mat-button-toggle-checked {
    background-color: green;
    color: white;
}

.svgClassIcon {
    width: 24px;
}

.cluster-container {
    flex-wrap: wrap;
}

.cluster-item {
    flex-grow: 1;
    flex-basis: 0;
}

.avg-stat-value {
    margin-left: 3px;
}

.copyButton {
    width: 100%;
}
