#cluster-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

mat-card {
  margin-bottom: 8px;
}

.searchQueryField {
  width: 100%;
}
.returnbutton {
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%;
}

.stat-range {
  height: 40px;
  width: 10px;
  background-color: white;
  margin-bottom: 1px;
  float: left;
  margin-right: 3px;
}

.stat-range-bar {
  width: 100%;
  float: left;
  background-color: gray;
}
