$icon-with: 30px;
.element-icon {
  width: $icon-with;
  margin-left: 5px;
}

.selected {
  -webkit-filter: drop-shadow(0 0 0.1rem #d1d1e7) drop-shadow(0 0 0.75rem #d1d1e7);
}

.slot-icon {
  width: 40px;
}

.disabled {
  filter: grayscale(1.0);
}

table tr td:not(:last-of-type) {
  padding-right: 5px;
  border-right: #6e6e6e 1px solid;
}
table tr td:not(:first-of-type) {
  padding-left: 5px;
}

