<table>
  <tr>
    <td>Add required element:</td>
    <td colspan="20">
      <button mat-mini-fab color="primary" (click)="addElement(1)" [disabled]="freeSlots == 0">
        <img class="element-icon"
             src="https://www.bungie.net/common/destiny2_content/icons/DestinyEnergyTypeDefinition_092d066688b879c807c3b460afdd61e6.png"
             matTooltip='Arc affinity' #tooltip="matTooltip">
      </button>
      <button mat-mini-fab color="primary" (click)="addElement(2)" [disabled]="freeSlots == 0">
        <img class="element-icon"
             src="https://www.bungie.net/common/destiny2_content/icons/DestinyEnergyTypeDefinition_2a1773e10968f2d088b97c22b22bba9e.png"
             matTooltip='Solar affinity' #tooltip="matTooltip">
      </button>
      <button mat-mini-fab color="primary" (click)="addElement(3)" [disabled]="freeSlots == 0">
        <img class="element-icon"
             src="https://www.bungie.net/common/destiny2_content/icons/DestinyEnergyTypeDefinition_ceb2f6197dccf3958bb31cc783eb97a0.png"
             matTooltip='Void affinity' #tooltip="matTooltip">
      </button>

    </td>
  </tr>
  <tr>
    <td>Selected Elements:</td>
    <td *ngFor="let conf of selectedArmorAffinities; let i = index"
        (click)="removeElement(i)"
        [class.disabled]="i+1 > 5-configSelectedArmorAffinities.length">
      <img class="element-icon element-icon-deletable" *ngIf="conf == 1"
           src="https://www.bungie.net/common/destiny2_content/icons/DestinyEnergyTypeDefinition_092d066688b879c807c3b460afdd61e6.png"
           matTooltip='Arc affinity' #tooltip="matTooltip">
      <img class="element-icon element-icon-deletable" *ngIf="conf == 2"
           src="https://www.bungie.net/common/destiny2_content/icons/DestinyEnergyTypeDefinition_2a1773e10968f2d088b97c22b22bba9e.png"
           matTooltip='Solar affinity' #tooltip="matTooltip">
      <img class="element-icon element-icon-deletable" *ngIf="conf == 3"
           src="https://www.bungie.net/common/destiny2_content/icons/DestinyEnergyTypeDefinition_ceb2f6197dccf3958bb31cc783eb97a0.png"
           matTooltip='Void affinity' #tooltip="matTooltip">
    </td>
    <td>

    </td>
  </tr>
  <tr>
    <td>Elements from Mods:</td>
    <td *ngFor="let conf of configSelectedArmorAffinities">
      <img class="element-icon" *ngIf="conf == 1"
           src="https://www.bungie.net/common/destiny2_content/icons/DestinyEnergyTypeDefinition_092d066688b879c807c3b460afdd61e6.png"
           matTooltip='Arc affinity' #tooltip="matTooltip">
      <img class="element-icon" *ngIf="conf == 2"
           src="https://www.bungie.net/common/destiny2_content/icons/DestinyEnergyTypeDefinition_2a1773e10968f2d088b97c22b22bba9e.png"
           matTooltip='Solar affinity' #tooltip="matTooltip">
      <img class="element-icon" *ngIf="conf == 3"
           src="https://www.bungie.net/common/destiny2_content/icons/DestinyEnergyTypeDefinition_ceb2f6197dccf3958bb31cc783eb97a0.png"
           matTooltip='Void affinity' #tooltip="matTooltip">
    </td>
  </tr>
</table>

