<table>
  <tr>
    <td>
      <img (click)="setArmorElement(0,0)" alt="Helmet" class="slot-icon"
           matTooltip="Helmet"
           src="https://www.bungie.net/common/destiny2_content/icons/d89699e6307ac5d2a306cf054978e251.png">
    </td>
    <td>
      <img (click)="setArmorElement(1,0)" alt="Gauntlet" class="slot-icon"
           matTooltip="Gauntlet"
           src="https://www.bungie.net/common/destiny2_content/icons/18bb744532b78a20164f150c770c5f89.png">
    </td>
    <td>
      <img (click)="setArmorElement(2,0)" alt="Chest Armor" class="slot-icon"
           matTooltip="Chest Armor"
           src="https://www.bungie.net/common/destiny2_content/icons/6bf61607ffa8198cdabdf0fa3b5feab1.png">
    </td>
    <td>
      <img (click)="setArmorElement(3,0)" alt="Leg Armor" class="slot-icon"
           matTooltip="Leg Armor"
           src="https://www.bungie.net/common/destiny2_content/icons/c4b573f9dd4892f6eb3bfb9b194170d0.png">
    </td>
    <td>
      <img (click)="setArmorElement(4,0)" alt="Class Item" class="slot-icon"
           matTooltip="Class Item"
           src="https://www.bungie.net/common/destiny2_content/icons/3cfff0f2aa68784762f553eb7997e909.png">
    </td>
  </tr>
  <!-- ARC -->
  <tr>
    <td *ngFor="let item of configFixedArmorAffinities | keyvalue">
      <span [class.selected]="item.value==1">


      <img #tooltip="matTooltip" (click)="setArmorElement(item.key, 1)"
           class="element-icon"
           matTooltip='Arc affinity'
           src="https://www.bungie.net/common/destiny2_content/icons/DestinyEnergyTypeDefinition_092d066688b879c807c3b460afdd61e6.png">
        </span>
    </td>
  </tr>
  <!-- Solar -->
  <tr>
    <td *ngFor="let item of configFixedArmorAffinities | keyvalue">
      <img #tooltip="matTooltip" (click)="setArmorElement(item.key, 2)" [class.selected]="item.value==2"
           class="element-icon"
           matTooltip='Solar affinity'
           src="https://www.bungie.net/common/destiny2_content/icons/DestinyEnergyTypeDefinition_2a1773e10968f2d088b97c22b22bba9e.png">
    </td>
  </tr>
  <!-- Void -->
  <tr>
    <td *ngFor="let item of configFixedArmorAffinities | keyvalue">
      <img #tooltip="matTooltip" (click)="setArmorElement(item.key, 3)" [class.selected]="item.value==3"
           class="element-icon"
           matTooltip='Void affinity'
           src="https://www.bungie.net/common/destiny2_content/icons/DestinyEnergyTypeDefinition_ceb2f6197dccf3958bb31cc783eb97a0.png">
    </td>
  </tr>
  <!-- stasis -->
  <tr>
    <td *ngFor="let item of configFixedArmorAffinities | keyvalue">
      <img #tooltip="matTooltip" (click)="setArmorElement(item.key, 6)" [class.selected]="item.value==6"
           class="element-icon"
           matTooltip='Stasis affinity'
           src="https://www.bungie.net/common/destiny2_content/icons/DestinyEnergyTypeDefinition_530c4c3e7981dc2aefd24fd3293482bf.png">
    </td>
  </tr>
</table>

<div *ngIf="configSelectedArmorAffinities.length > 0">
  Note that you must add those elements to fulfill your mod selection:<br>
  <span *ngFor="let item of configSelectedArmorAffinities">
          <img #tooltip="matTooltip" *ngIf="item == 1" class="element-icon" matTooltip='Arc affinity'
               src="https://www.bungie.net/common/destiny2_content/icons/DestinyEnergyTypeDefinition_092d066688b879c807c3b460afdd61e6.png">
          <img #tooltip="matTooltip" *ngIf="item == 2" class="element-icon" matTooltip='Solar affinity'
               src="https://www.bungie.net/common/destiny2_content/icons/DestinyEnergyTypeDefinition_2a1773e10968f2d088b97c22b22bba9e.png">
          <img #tooltip="matTooltip" *ngIf="item == 3" class="element-icon" matTooltip='Void affinity'
               src="https://www.bungie.net/common/destiny2_content/icons/DestinyEnergyTypeDefinition_ceb2f6197dccf3958bb31cc783eb97a0.png">
          <img #tooltip="matTooltip" *ngIf="item == 6" class="element-icon" matTooltip='Stasis affinity'
               src="https://www.bungie.net/common/destiny2_content/icons/DestinyEnergyTypeDefinition_530c4c3e7981dc2aefd24fd3293482bf.png">
  </span>
</div>
